.listWrapper {
    margin: 0 14px;
    .list__header {
      display: flex;
      font-size: 18px;
      font-weight: bold;
      color: white;
      align-items: center;
      display: grid;
      text-align: center;
      margin-bottom: 12px;
      margin-top: 12px;
      background-color: lightgray;
      border-radius: 14px;
      height: 40px;
    }
    .tasks {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .sum {
      grid-template-columns: .5fr 1fr 1fr;
      align-items: end;
    }
}



.taskContainer, .taskContainerSecond {
  display: flex;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  list-style: none;
}
.taskContainerSecond {
  grid-template-columns: .5fr 1fr 1fr;
  text-align: center;
}
.secondTableList {
  display: contents;
}
.task,
.taskSecond {
    margin-bottom: 14px;
  font-size: 16px;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: left;
  background-color: rgba(173, 182, 230, 0.2);
  padding-left: 14px;
}
.dateTask {
  display: flex;
  justify-content: center;
}
.taskSecond {
  justify-content: center;
}
.taskImg {
  width: 40px;
  margin-right: 14px;
}
.sidebar {
    margin-bottom: 14px;
  background-color: rgba(173, 182, 230, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar__buttons {
  cursor: pointer;
  width: 24px;
  margin-left: 12px;
}
  .sidebar__buttons__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar__buttons__delete {
    margin-left: 14px;
    cursor: pointer;
  }
  .sidebar__buttons__archive {
    cursor: pointer;
  }
  .sidebar__buttons__archive:hover {
    color: gray;
  }

  .CreateButton {
    margin-left: 14px;
    width: 120px;
    height: 30px;
    font-weight: 500;
    border-radius: 12px;
    font-size: 14px;
    &:active {
        background-color: rgb(225, 225, 225);
    }
  }
  .modal__window {
    font-size: 18px;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%) scale(0.9);
  width: 550px;
  max-width: 95%;
  height: 280px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
  background-color: #fff;
  border-radius: 12px;
  visibility: hidden;
  opacity: 0;
}

.show {
  transition: 0.6s;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  visibility: visible;
}

.modal__window__container {     
    select {
        border: 1px solid lightgrey;
        margin-top: 14px;
        width: 140px;
        height: 22px;
        font-size: 16px;
    }
    input {
        margin-top: 14px;
        border: 1px solid lightgrey;
        font-size: 16px;
        width: 140px;
    }
    textarea {
        border: 1px solid lightgrey;
        font-size: 16px;
        margin-top: 14px;
        height: 100px;
    }
  display: flex;
  padding: 14px;
  margin-top: 26px;
}
.modal__window__container__header {
    font-weight: 500;
  position: fixed;
  padding-top: 0;
  top: 0px;
  left: 14px;
  margin-top: 14px;
}
.modal__window__container__left {
  width: 50%;
}
.modal__window__container__right {
  width: 50%;
}
select {
  margin-bottom: 14px;
}
.modal__window__content__container__left__name {
  width: 130px;
  margin-bottom: 14px;
}
.modal__window__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background-color: rgba(0, 0, 0, .4);
}

.hidden {
  display: none;
}
.modal__close {
  position: fixed;
  bottom: 10px;
  right: 50%;
}
.warning {
  top: 24px;
  color: red;
}
.contentOfTask {
  &:hover {font-weight: 500;}
  cursor: zoom-in;
}